{/* <div className="max-w-2xl mx-auto my-4">
    <figure className="md:flex bg-gray-100 rounded-xl p-8 md:p-0 overflow-hidden">
      <img
        className="w-300 h-300  md:h-auto md:rounded-none rounded-full mx-auto"
        src={avatar}
        alt=""
        width="384"
        height="512"
      ></img>
      <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <blockquote>
          <p className="text-lg font-semibold">“Tailwind”</p>
        </blockquote>
        <figcaption className="font-medium">
          <div className="text-cyan-600">Sarah Dayan</div>
          <div className="text-gray-500">Staff Engineer, Algolia</div>
        </figcaption>
      </div>
    </figure>
  </div> */}

  <div class="row">
    <div class="column">
      <div >
      <li><a href="mailto:contacto@tecnomaq.cl"><i class="vc_icon_element-icon far fa-envelope"></i></a>contacto@tecnomaq.cl</li>
      </div>
    </div>
  
    <div class="column">
      <div >
    <li><a href="tel:+56958360238"><i class="vc_icon_element-icon fas fa-phone-alt"></i></a>600 600 0000</li>
      </div>
    </div>
    
    <div class="column">
      <div >
      <li><a href="https://www.youtube.com/channel/UC7MeZeYOARbExSNihbBvkwQ "><i class="vc_icon_element-icon fab fa-youtube"></i></a>Tecnomaq</li>
      </div>
    </div>
    
    <div class="column">
      <div >
     <li><a href="https://www.facebook.com/TecnoMaq-100843229110272"><i class="vc_icon_element-icon fab fa-facebook-f"></i></a>Tecnomaq</li>
      </div>
    </div>
    <div class="column">
      <div >
     <li><a href="https://www.instagram.com/tecnomaqgrupoica/"><i class="vc_icon_element-icon fab fa-instagram"></i></a>Tecnomaq</li>
      </div>
    </div>
    <div class="column">
      <div >
     <li><a href="https://twitter.com/Tecnomaq3"><i class="vc_icon_element-icon fab fa-twitter"></i></a>Tecnomaq</li>
      </div>
    </div>
  </div>